//彈窗
.filter {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: $filter;
    align-items: center;
    justify-content: center;
    z-index: 999;
    display: none;

    &.display {
        display: flex;
    }

    .jumpWindow {
        width: 90vw;
        height: auto;
        background: $jumpWindow_BG;
        border: solid 1px $jumpWindow_Border;
        border-radius: 16px;
        position: relative;
        display: none;
        padding: 0 16px;

        &.display {
            display: block;
        }

        //請先XX轉跳視窗
        &.plsGo,&.plsGo2 {

            .content {
                width: 100%;
                height: auto;
                padding: 24px;

                p {
                    color: $mainColor_3;
                    font-size: 4vw;
                    font-weight: bold;
                    letter-spacing: 1px;
                    line-height: 5vw;
                    text-align: center;
                    padding: 20px 0;
                }

                button {
                    width: 100%;
                    height: 42px;
                    @include mainBtn;
                    margin-top: 24px;
                }
            }
        }

        //登入帳密視窗
        &.loginWindow {

            form {
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                flex-direction: column;
                padding: 24px;

                label {
                    width: 100%;
                    height: auto;
                    position: relative;
                    margin-bottom: 16px;

                    &:nth-of-type(2) {
                        margin: 0;
                    }

                    input {
                        width: 100%;
                        height: 9.87vw;
                        @include mainInput;
                    }

                    .eye {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 10px;
                        display: block;
                        width: 6.13vw;
                        height: 4.26vw;
                    }
                }

                .forget {
                    width: 100%;
                    height: auto;
                    text-align: right;
                    margin-top: 5px;

                    p {
                        font-size: 3vw;
                        font-weight: bold;
                        color: $click;
                        text-decoration: underline;
                    }
                }

                .realLogin {
                    width: 70%;
                    height: 42px;
                    @include mainBtn;
                    display: block;
                    margin: 6vw auto;
                }

                .register {
                    color: $mainColor_2;
                    font-size: 3.4vw;
                    font-weight: bold;

                    span {
                        color: $click;
                        text-decoration: underline;
                    }
                }
            }
        }

        //忘記密碼
        &.forgetWindow {

            form {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 24px;

                input {
                    width: 100%;
                    height: 9.87vw;
                    @include mainInput;
                    margin-bottom: 4vw;
                }

                button {
                    width: 100%;
                    height: 42px;
                    @include mainBtn;
                    margin-bottom: 5vw;
                }

                p {
                    width: 100%;
                    height: auto;
                    color: $remind;
                    font-size: 3.4vw;
                    font-weight: bold;
                    line-height: 5vw;
                }
            }
        }

        //註冊
        &.registerWindow {

            form {
                width: 100%;
                height: auto;
                max-height: 66vh;
                overflow-y: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 24px 16px;

                label {
                    width: 100%;
                    height: auto;
                    position: relative;
                    margin-bottom: 3vw;
                    display: flex;
                    flex-direction: column;
                    box-sizing: border-box;
                    padding: 0 12px 0 20px;

                    &:nth-last-of-type(1),
                    &:nth-last-of-type(2) {
                        margin-bottom: 4vw;
                    }

                    .smallTitle {
                        color: $mainColor_2;
                        font-size: 4vw;
                        font-weight: bold;
                        margin-bottom: 1.5vw;
                    }

                    div {
                        width: 100%;
                        height: auto;
                        display: flex;
                        align-items: center;

                        &.checkWord {
                            display: block;
                        }

                        em {
                            position: absolute;
                            left: 0;
                            color: $mainColor_1;
                            font-size: 14px;
                            font-weight: bold;
                        }
    
                        input {
                            width: 100%;
                            height: 9.87vw;
                            @include mainInput;
    
                            &.line {
                                padding-left: 12vw;
                            }
                        }

                        .eye {
                            position: absolute;
                            right: 20px;
                            width: 6.13vw;
                            height: 4.26vw;
                        }
    
                        .date_ic {
                            position: absolute;
                            right: 25px;
                            width: 4vw;
                            height: 4vw;
                        }
    
                        .line_ic,
                        .skype_ic {
                            position: absolute;
                            width: 8vw;
                            height: 8vw;
                            left: 23px;
                        }
                    }

                    .remind {
                        width: 100%;
                        color: $remind;
                        font-size: 3.4vw;
                        font-weight: bold;
                        line-height: 4vw;
                        margin-top: 5px;
                    }

                    &.isCheck {
                        display: flex;
                        align-items: center;
                        flex-direction: row;

                        input[type = checkbox]{
                            width: 10px;
                            height: 10px;
                            @include checkBox;
                            margin-right: 10px;
                        }

                        p {
                            color: $mainColor_2;
                            font-size: 3.4vw;
                            font-weight: bold;
                            
                            &.ruleBtn {
                                color: $click;
                                margin-top: 2vw;
                            }
                        }
                    }

                    .code {
                        width: auto;
                        height: 8vw;
                        position: absolute;
                        right: 17px;
                        @include secondBtn;
                        border-radius: 5px;
                        font-size: 3vw;
                        padding: 0 7px;
                    }
                }

                .checkBtn {
                    width: 100%;
                    height: 9.87vw;
                    @include mainBtn;
                    flex-shrink: 0;
                }
            }
        }

        //最新消息
        &.news,
        &.rules {
            padding-bottom: 16px;

            &.rules {

                .title {

                    p {
                        font-size: 4vw;
                    }
                }

                .allBtn {
                    width: 70%;
                    height: 35px;
                    @include lightBtn_1;
                    display: block;
                    margin: 16px auto 0;
                }

                .box {

                    .infoBox {
                        width: 100%;

                        ul {

                            .smallTitle {
                                padding: 0;
                            }

                            li:not(.smallTitle) {
                                height: auto;
                                padding: 8px 0;
                                flex-direction: column;
                                align-items: flex-start;

                                p {
                                    font-size: 14px;
                                    white-space: pre-wrap;
                                    line-height: 20px;
                                    margin-bottom: 10px;

                                    &:last-child {
                                        margin: 0;
                                    }
                                }
                            }
                        }
                    }
                }

                .checkBtn {
                    width: 70%;
                    height: 42px;
                    @include mainBtn;
                    display: block;
                    margin: 16px auto 0;
                }
            }

            .box {
                width: 100%;
                height: auto;
                max-height: 50vh;
                overflow-y: auto;
                margin-top: 16px;

                .infoBox {
                    width: 96%;
                    height: 46px;
                    @include newsBox;
                    margin: 0 auto 10px;
                    padding: 0 12px;
    
                    &:last-child {
                        margin-bottom: 0;
                    }
    
                    &.active {
                        height: auto;
    
                        ul {
    
                            .smallTitle {

                                p {
                                    color: $mainColor_1;
                                }
    
                                .arrow_ic {
                                    transform: scaleY(-1);
                                }
                            }
                        }
                    }
    
                    ul {
                        width: 100%;
                        height: auto;
    
                        li {
                            width: 100%;
                            height: 46px;
                            border-bottom: solid 1px $jumpWindow_secondBorder;
                            display: flex;
                            align-items: center;
                            position: relative;
                            padding-left: 6vw;
    
                            &:last-child {
                                border: none;
                            }
    
                            &.smallTitle {
                                border-color: $jumpWindow_secondBorder;
                                justify-content: space-between;
                                cursor: pointer;
    
                                .flower_ic {
                                    width: 5vw;
                                    height: 5vw;
                                    position: absolute;
                                    left: 0;
                                }
    
                                p {
                                    color: $mainColor_2;
                                }
    
                                .arrow_ic {
                                    width: 18px;
                                    height: 9px;
                                    flex-shrink: 0;
                                }
                            }
    
                            p {
                                width: 100%;
                                color: $mainColor_3;
                                font-size: 4vw;
                                font-weight: bold;
                                @include hiddenText;
                            }
                        }
                    }
                }
            }
        }

        //遊戲投注彈窗
        &.betWindow {

            .top,
            .bottom {
                width: 100%;
                height: auto;
                border-bottom: solid 1px $jumpWindow_secondBorder;
                padding: 12px 0;

                .smallTitle {
                    color: $mainColor_2;
                    font-size: 4vw;
                    font-weight: bold;
                    margin-bottom: 12px;
                    text-align: center;
                }

                .selectBox {
                    width: 100%;
                    height: auto;
                    margin: 0 auto 16px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    select {
                        width: 300px;
                        height: 42px;
                        @include mainSelect;
                    }

                    i {
                        position: absolute;
                        right: 22px;
                        width: 16px;
                        height: 9px;
                        pointer-events: none;
                    }

                    .money {
                        color: $mainColor_1;
                        font-size: 4vw;
                        font-weight: bold;
                        position: absolute;
                        right: 57px;
                    }
                }

                .inputBox {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    margin-bottom: 12px;

                    input {
                        width: 300px;
                        height: 42px;
                        @include mainInput;
                    }
                }

                .amount {
                    width: 100%;
                    color: $mainColor_1;
                    font-size: 5vw;
                    font-weight: bold;
                    text-align: center;
                    margin-bottom: 16px;
                }

                button {
                    width: 70%;
                    height: 42px;
                    @include mainBtn;
                    display: block;
                    margin: 0 auto;
                }
            }

            .enterGame {
                width: 100%;
                height: auto;
                text-align: center;
                padding: 16px 0;

                button {
                    width: 70%;
                    height: 42px;
                    @include mainBtn;
                    margin-bottom: 12px;
                }

                div {
                    width: 100%;
                    height: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    input {
                        width: 10px;
                        height: 10px;
                        @include checkBox;
                        margin-right: 3vw;
                    }

                    p {
                        color: $mainColor_3;
                        font-size: 16px;
                        font-weight: bold;
                    }
                }
            }
        }






        
        //lang
        &.langWindow {
            width: 92.27vw;
            height: auto;

            ul {
                width: 100%;
                height: auto;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                padding: 3.2vw;
                
                li {
                    width: 100%;
                    height: 9.87vw;
                    margin-bottom: 2.4vw;
                    @include noBgBtn_Normal;

                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }

        //更變密碼
        &.passwordWindow {
            width: 92.27vw;
            height: auto;

            .content {
                width: 100%;
                height: auto;
                text-align: center;
                padding: 24px;
                box-sizing: border-box;

                input {
                    width: 100%;
                    height: 9.87vw;
                    margin-bottom: 30px;
                    @include mainInput;
                }

                button {
                    width: 100%;
                    height: 9.87vw;
                    @include mainBtn;
                }
            }
        }

        //修改手機
        &.phoneWindow {
            width: 92.27vw;
            height: auto;

            .smallTitle {
                width: 100%;
                height: auto;
                color: $mainWord_1;
                font-size: 4vw;
                font-weight: bold;
                box-sizing: border-box;
                padding: 24px;
            }

            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                box-sizing: border-box;
                padding: 0 24px 24px;
                overflow: auto;

                label {
                    width: 100%;
                    height: auto;
                    position: relative;
                    margin-bottom: 20px;

                    input {
                        width: 100%;
                        height: 9.87vw;
                        @include mainInput;
                    }

                    .cellphoneCheck {
                        width: 100%;
                        height: 9.87vw;
                        @include secondBtn;
                    }
                }

                .remind {
                    width: 100%;
                    font-size: 3vw;
                    color: $remind;
                    font-weight: bold;
                    margin-top: 10px;
                    line-height: 4vw;
                }

                .checkBtn {
                    width: 100%;
                    height: 9.87vw;
                    @include mainBtn;
                }
            }
        }

        //下載APP
        &.downloadBox {
            width: 92.27vw;
            height: auto;

            .box {
                width: 100%;
                height: auto;
                box-sizing: border-box;
                padding: 24px;
                display: flex;
                align-items: center;
                justify-content: center;

                .img {
                    width: 48px;
                    height: 48px;
                }
            }
        }

        //任務詳情
        &.eventWindow {
            width: 92.27vw;
            height: auto;

            .content {
                width: 100%;
                height: auto;
                max-height: 76vh;
                overflow-y: auto;
                box-sizing: border-box;
                padding: 24px 24px 0;

                p {
                    color: $mainWord_1;
                    font-size: 14px;
                    letter-spacing: 1px;
                    font-weight: bold;
                    line-height: 18px;
                    margin-bottom: 8px;
                    word-break: break-all;
                }

                img {
                    margin-bottom: 10px;
                }
            }

            .btnBox {
                width: 100%;
                height: auto;
                padding: 20px 0;
                text-align: center;

                button {
                    width: 92%;
                    height: 42px;
                    @include mainBtn;
                }
            }
        }

        //loading
        .loading {
            width: 92.27vw;
            height: auto;

            .content {
                width: 100%;
                height: 60vw;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                div {
                    width: 30vw;
                    height: 30vw;
                    animation: round 2s linear 0s infinite;
                }

                p {
                    margin-top: 20px;
                    color: $mainWord_4;
                    font-weight: bold;
                }

                @keyframes round {
                    0% {
                        transform: rotate(0);
                    }

                    100% {
                        transform: rotate(360deg);
                    }
                }
            }
        }

        .title {
            width: 100%;
            height: 50px;
            border-bottom: solid 3px $jumpWindow_secondBorder;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                color: $jumpWindow_Title;
                font-size: 5vw;
                font-weight: bold;
                letter-spacing: 2px;
            }
    
            i {
                width: 9vw;
                height: 9vw;
                background: $jumpWindow_BG;
                border-radius: 50%;
                position: absolute;
                top: -12vw;
                right: -2.5vw;

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    width: 4vw;
                    height: 4vw;
                }
            }
        }
    }
}